.tw-titlebar-container {
    background-color: black;
    border-bottom: 1px #2f3336 solid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start */
    padding: 0 20px; /* Ajusta el relleno según sea necesario */

}

.tw-titlebar-text {
    position: absolute;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    margin: 0 auto; /* Centra el texto al 100% del ancho */
    left: 50%;
    transform: translateX(-50%);
}

.twitter-icon {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 10px; /* Ajusta el relleno según sea necesario */
}
